# Dependencies
/node_modules
/client/node_modules

# Production build
/client/build

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temp files
/server/temp/*.json
*.log

# OS files
.DS_Store

# Environment secrets
.env
